/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}
svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "Source Sans 3";
  src: url(./fonts/SourceSans3-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url(./fonts/SourceSans3-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url(./fonts/SourceSans3-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #333333;
  --color-accent: #607ce6;
  --color-gray: #888888;
  --color-light: #ffffff;
  --color-light-gray: #f5f5f5;

  --font-family-base: "Source Sans 3", sans-serif;

  --container-width: 1180px;
  --container-padding-x: 15px;
  --container-padding-y: 80px;
  --title-margin-bottom: 32px;

  --content-column-gap: 20px;

  --transition-duration: 0.2s;

  --header-height: 150px;
}



body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
}

.section__title {
  font-size: 48px;
  margin-bottom: var(--title-margin-bottom);
}

a {
  text-decoration: none;
}

.header-logo:visited {
  color: var(--color-accent);
}

.header-top {
    padding-block: 32px;
  }

.header-top {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray);
}

.header-contacts {
  display: flex;
  column-gap: var(--content-column-gap);
}

.header-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 180px;
}

.header-caption {
  font-size: 14px;
  line-height: 1.2;
}

.header-contact-link {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-accent);
}

.header-contact-link.email {
  text-decoration: underline var(--color-accent) 1px;
}

.header-bottom {
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
}

.header-menu-list {
  display: flex;
  column-gap: 44px;
  align-items: flex-start;
}

.header-menu-link {
  display: inline-flex;
  align-items: flex-end;
  color: var(--color-dark);
}

.button-connect {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  padding: 0;
  background-color: transparent;
  border: currentColor;
  text-transform: uppercase;
  color: var(--color-accent);
}

.hero-section {
  padding-block: 80px;
}

.hero-info {
  display: grid;
  margin-bottom: var(--title-margin-bottom);
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.hero-title {
  grid-column: 1 / 7;
  font-size: 60px;
  line-height: 1.2;
}

.hero-paragraph {
  grid-column: 7 / 11;
  padding-top: 21px;
  line-height: 1.2;
}

/* About */

.about {
  padding-bottom: var(--container-padding-y);
}

.about__info {
  display: grid;
  margin-bottom: 32px;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--content-column-gap);
  row-gap: 24px;
}

.about__description {
  grid-column: 6 span;
}

.about__image {
  display: flex;
  column-gap: var(--content-column-gap);
}

.products {
  padding-bottom: var(--container-padding-y);
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 25px;
}

.products-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-light-gray);
  padding: 32px 24px;
  height: 100%;
  min-height: 435px;
}

.products-card__image {
  max-width: 200px;
}

.products-card__title {
  font-weight: 600;
  font-size: 28px;
  margin: auto 0 12px;
}

.products-card__link {
  font-size: 20px;
  color: var(--color-accent);
}

.products-card__link:hover {
  color: var(--color-gray);
}

.products-card__link svg {
  width: 6px;
  height: 11px;
  fill: currentColor;
}

.location {
  padding-bottom: var(--container-padding-y);
}

.news {
  padding-bottom: var(--container-padding-y);
}

.news__card-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.news__card-item {
  grid-column: 4 span;
  max-width: 380px;
}

.news-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 478px;
  background-color: var(--color-light-gray);
}

.news-card__inner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 16px 16px 24px;
}

.news-card__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.news-card__bottom {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
}

.news-card__link {
  color: var(--color-accent);
}

.news-card__date {
  color: var(--color-gray);
}

.footer {
  background-color: var(--color-dark);
}

a.footer-nav-link {
  color: var(--color-light);
}

.footer-main {
  padding-block: 56px;
}

.footer-body {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  grid-column: 4 span;
}

.footer-lists {
  display: flex;
  column-gap: 57px;
}

.footer-main-list {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 91px;
}

.footer-first-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.footer-nav-item {
  display: inline-flex;
}

.footer-nav-link {
  line-height: 1.14;
}

.footer-second-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.footer-tools-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 155px;
}

.footer-tools-link{
  color: var(--color-light);
}

.footer-copyright {
  padding-top: 16px;
  padding-bottom: 24px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-light);
}

@media (max-width: 1024px) {
}

@media (max-width: 767px) {

  .header-top {
    flex-direction: column;
    row-gap: 15px;
  }
}